In [1]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/omer770/ANN_churn_model/main/churnm.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = df.iloc[:,3:13]
y = df.iloc[:,13]
X[:5]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [4]:
#Create Dummy variables
geography= pd.get_dummies(X["Geography"],drop_first=True)
gender= pd.get_dummies(X['Gender'],drop_first=True)

## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)
X[:5]

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [5]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [6]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
X_train[:5]

array([[ 0.16958176, -0.46460796,  0.00666099, -1.21571749,  0.8095029 ,
         0.64259497, -1.03227043,  1.10643166, -0.5698444 ,  1.74309049,
        -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, -0.00631193, -0.92159124,
         0.64259497,  0.9687384 , -0.74866447,  1.75486502, -0.57369368,
         0.91601335],
       [-1.19119591, -0.94312892, -1.031415  ,  0.57993469, -0.92159124,
         0.64259497, -1.03227043,  1.48533467, -0.5698444 , -0.57369368,
        -1.09168714],
       [ 0.03556578,  0.10961719,  0.00666099,  0.47312769, -0.92159124,
         0.64259497, -1.03227043,  1.27652776, -0.5698444 ,  1.74309049,
         0.91601335],
       [ 2.05611444,  1.73658844,  1.04473698,  0.8101927 ,  0.8095029 ,
         0.64259497,  0.9687384 ,  0.55837842, -0.5698444 ,  1.74309049,
        -1.09168714]])

In [8]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [13]:
# Initialising the ANN
classifier = Sequential()


# Adding the input layer and the first hidden layer
classifier.add(tf.keras.Input(shape=(11,)))
classifier.add(Dense( 6, kernel_initializer = 'he_uniform',activation='relu'))

# Adding the second hidden layer
classifier.add(Dense(6, kernel_initializer = 'he_uniform',activation='relu'))
# Adding the output layer
classifier.add(Dense(1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [14]:
# Compiling the ANN
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 72

 dense_4 (Dense)             (None, 6)                 42

 dense_5 (Dense)             (None, 1)                 7

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5549 - accuracy: 0.7925 - val_loss: 0.5456 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5200 - accuracy: 0.7962 - val_loss: 0.5270 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5025 - accuracy: 0.7962 - val_loss: 0.5137 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4897 - accuracy: 0.7962 - val_loss: 0.5032 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4800 - accuracy: 0.7962 - val_loss: 0.4949 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4722 - accuracy: 0.7962 - val_loss: 0.4879 - val_accuracy: 0.7955
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4658 - accuracy: 0.7962 - val_loss: 0.4819 - val_accuracy: 0.7955
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4599 - accuracy: 0.7962 - val_loss: 0.4769 - val_accuracy: 0.7955
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4550 - accuracy: 0.7964 - val_loss: 0.4721 - val_accuracy: 0.7952
Epoch 10/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4504 - accuracy: 0.7968 - val_loss: 0.4678 - val_accuracy: 0.7955
Epoch 11/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4463 - accuracy: 0.7968 - val_loss: 0.4638 - val_accuracy: 0.7940
Epoch 12/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4425 - accuracy: 0.7964 - val_loss: 0.4604 - val_accuracy: 0.7936
Epoch 13/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4389 - accuracy: 0.7972 - val_loss: 0.4569 - val_accuracy: 0.7929
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4354 - accuracy: 0.7992 - val_loss: 0.4537 - val_accuracy: 0.7929
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.8001 - val_loss: 0.4508 - val_accuracy: 0.7929
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4295 - accuracy: 0.8011 - val_loss: 0.4482 - val_accuracy: 0.7925
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4269 - accuracy: 0.8020 - val_loss: 0.4459 - val_accuracy: 0.7959
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.8039 - val_loss: 0.4437 - val_accuracy: 0.7963
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4221 - accuracy: 0.8037 - val_loss: 0.4413 - val_accuracy: 0.7982
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4202 - accuracy: 0.8054 - val_loss: 0.4395 - val_accuracy: 0.7978
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.8063 - val_loss: 0.4376 - val_accuracy: 0.7993
Epoch 22/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.8078 - val_loss: 0.4361 - val_accuracy: 0.8012
Epoch 23/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4150 - accuracy: 0.8100 - val_loss: 0.4345 - val_accuracy: 0.8031
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4134 - accuracy: 0.8095 - val_loss: 0.4327 - val_accuracy: 0.8035
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4121 - accuracy: 0.8108 - val_loss: 0.4314 - val_accuracy: 0.8054
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8121 - val_loss: 0.4299 - val_accuracy: 0.8073
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4093 - accuracy: 0.8125 - val_loss: 0.4285 - val_accuracy: 0.8076
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4080 - accuracy: 0.8138 - val_loss: 0.4274 - val_accuracy: 0.8080
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4068 - accuracy: 0.8145 - val_loss: 0.4260 - val_accuracy: 0.8092
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4055 - accuracy: 0.8162 - val_loss: 0.4251 - val_accuracy: 0.8084
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8194 - val_loss: 0.4235 - val_accuracy: 0.8058
Epoch 32/100
536/536 [==============================] - 3s 5ms/step - loss: 0.4030 - accuracy: 0.8199 - val_loss: 0.4224 - val_accuracy: 0.8092
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8209 - val_loss: 0.4214 - val_accuracy: 0.8111
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8227 - val_loss: 0.4204 - val_accuracy: 0.8122
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8224 - val_loss: 0.4194 - val_accuracy: 0.8137
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3989 - accuracy: 0.8233 - val_loss: 0.4185 - val_accuracy: 0.8122
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3979 - accuracy: 0.8237 - val_loss: 0.4176 - val_accuracy: 0.8141
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3969 - accuracy: 0.8231 - val_loss: 0.4163 - val_accuracy: 0.8167
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3959 - accuracy: 0.8237 - val_loss: 0.4155 - val_accuracy: 0.8152
Epoch 40/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3950 - accuracy: 0.8240 - val_loss: 0.4145 - val_accuracy: 0.8179
Epoch 41/100
536/536 [==============================] - 4s 8ms/step - loss: 0.3942 - accuracy: 0.8237 - val_loss: 0.4135 - val_accuracy: 0.8186
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3933 - accuracy: 0.8242 - val_loss: 0.4128 - val_accuracy: 0.8194
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3925 - accuracy: 0.8261 - val_loss: 0.4118 - val_accuracy: 0.8186
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3917 - accuracy: 0.8253 - val_loss: 0.4111 - val_accuracy: 0.8175
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3909 - accuracy: 0.8266 - val_loss: 0.4102 - val_accuracy: 0.8198
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3902 - accuracy: 0.8268 - val_loss: 0.4095 - val_accuracy: 0.8198
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3894 - accuracy: 0.8274 - val_loss: 0.4089 - val_accuracy: 0.8194
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3886 - accuracy: 0.8287 - val_loss: 0.4079 - val_accuracy: 0.8220
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3878 - accuracy: 0.8276 - val_loss: 0.4071 - val_accuracy: 0.8205
Epoch 50/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3872 - accuracy: 0.8280 - val_loss: 0.4060 - val_accuracy: 0.8232
Epoch 51/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3865 - accuracy: 0.8285 - val_loss: 0.4053 - val_accuracy: 0.8236
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3858 - accuracy: 0.8285 - val_loss: 0.4045 - val_accuracy: 0.8228
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3850 - accuracy: 0.8296 - val_loss: 0.4039 - val_accuracy: 0.8232
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3844 - accuracy: 0.8306 - val_loss: 0.4030 - val_accuracy: 0.8239
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3837 - accuracy: 0.8291 - val_loss: 0.4023 - val_accuracy: 0.8239
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3829 - accuracy: 0.8306 - val_loss: 0.4013 - val_accuracy: 0.8236
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3822 - accuracy: 0.8304 - val_loss: 0.4004 - val_accuracy: 0.8247
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3815 - accuracy: 0.8296 - val_loss: 0.3998 - val_accuracy: 0.8254
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3808 - accuracy: 0.8298 - val_loss: 0.3989 - val_accuracy: 0.8262
Epoch 60/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3802 - accuracy: 0.8302 - val_loss: 0.3981 - val_accuracy: 0.8266
Epoch 61/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3792 - accuracy: 0.8302 - val_loss: 0.3974 - val_accuracy: 0.8273
Epoch 62/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3786 - accuracy: 0.8306 - val_loss: 0.3969 - val_accuracy: 0.8266
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3780 - accuracy: 0.8313 - val_loss: 0.3962 - val_accuracy: 0.8273
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3773 - accuracy: 0.8308 - val_loss: 0.3955 - val_accuracy: 0.8277
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3766 - accuracy: 0.8313 - val_loss: 0.3950 - val_accuracy: 0.8292
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3759 - accuracy: 0.8311 - val_loss: 0.3945 - val_accuracy: 0.8285
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3752 - accuracy: 0.8311 - val_loss: 0.3936 - val_accuracy: 0.8273
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3747 - accuracy: 0.8326 - val_loss: 0.3930 - val_accuracy: 0.8277
Epoch 69/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3742 - accuracy: 0.8324 - val_loss: 0.3924 - val_accuracy: 0.8273
Epoch 70/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3736 - accuracy: 0.8341 - val_loss: 0.3918 - val_accuracy: 0.8281
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3729 - accuracy: 0.8347 - val_loss: 0.3913 - val_accuracy: 0.8285
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3723 - accuracy: 0.8339 - val_loss: 0.3907 - val_accuracy: 0.8273
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3717 - accuracy: 0.8350 - val_loss: 0.3901 - val_accuracy: 0.8285
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3709 - accuracy: 0.8345 - val_loss: 0.3896 - val_accuracy: 0.8289
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3703 - accuracy: 0.8362 - val_loss: 0.3891 - val_accuracy: 0.8296
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3697 - accuracy: 0.8365 - val_loss: 0.3885 - val_accuracy: 0.8300
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8362 - val_loss: 0.3881 - val_accuracy: 0.8296
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3685 - accuracy: 0.8362 - val_loss: 0.3878 - val_accuracy: 0.8296
Epoch 79/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3679 - accuracy: 0.8362 - val_loss: 0.3872 - val_accuracy: 0.8307
Epoch 80/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3674 - accuracy: 0.8367 - val_loss: 0.3868 - val_accuracy: 0.8315
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3669 - accuracy: 0.8356 - val_loss: 0.3864 - val_accuracy: 0.8315
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3666 - accuracy: 0.8365 - val_loss: 0.3862 - val_accuracy: 0.8311
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3657 - accuracy: 0.8377 - val_loss: 0.3858 - val_accuracy: 0.8391
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3654 - accuracy: 0.8500 - val_loss: 0.3855 - val_accuracy: 0.8391
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3648 - accuracy: 0.8498 - val_loss: 0.3857 - val_accuracy: 0.8391
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3645 - accuracy: 0.8502 - val_loss: 0.3851 - val_accuracy: 0.8402
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3641 - accuracy: 0.8498 - val_loss: 0.3847 - val_accuracy: 0.8413
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3637 - accuracy: 0.8500 - val_loss: 0.3848 - val_accuracy: 0.8410
Epoch 89/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3632 - accuracy: 0.8515 - val_loss: 0.3843 - val_accuracy: 0.8402
Epoch 90/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3630 - accuracy: 0.8513 - val_loss: 0.3845 - val_accuracy: 0.8413
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3626 - accuracy: 0.8520 - val_loss: 0.3842 - val_accuracy: 0.8417
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3623 - accuracy: 0.8518 - val_loss: 0.3840 - val_accuracy: 0.8421
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3620 - accuracy: 0.8533 - val_loss: 0.3839 - val_accuracy: 0.8406
Epoch 94/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3618 - accuracy: 0.8524 - val_loss: 0.3837 - val_accuracy: 0.8406
Epoch 95/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3615 - accuracy: 0.8541 - val_loss: 0.3834 - val_accuracy: 0.8398
Epoch 96/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3612 - accuracy: 0.8539 - val_loss: 0.3835 - val_accuracy: 0.8406
Epoch 97/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3608 - accuracy: 0.8550 - val_loss: 0.3832 - val_accuracy: 0.8395
Epoch 98/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3607 - accuracy: 0.8537 - val_loss: 0.3833 - val_accuracy: 0.8410
Epoch 99/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3604 - accuracy: 0.8541 - val_loss: 0.3830 - val_accuracy: 0.8413
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3602 - accuracy: 0.8535 - val_loss: 0.3831 - val_accuracy: 0.8406